<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.dashboard.enterprise.mapper.EnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kivi.dashboard.enterprise.entity.Enterprise">
        <id column="id" property="id" />
        <result column="application_id" property="applicationId" />
        <result column="prefix" property="prefix" />
        <result column="business_license_number" property="businessLicenseNumber" />
        <result column="enterprise_code" property="enterpriseCode" />
        <result column="enterprise_name" property="enterpriseName" />
        <result column="industry_id" property="industryId" />
        <result column="area_id" property="areaId" />
        <result column="enterprise_type" property="enterpriseType" />
        <result column="telephone" property="telephone" />
        <result column="email" property="email" />
        <result column="legal_person" property="legalPerson" />
        <result column="main_person" property="mainPerson" />
        <result column="main_person_mobile" property="mainPersonMobile" />
        <result column="map_x" property="mapX" />
        <result column="map_y" property="mapY" />
        <result column="map_z" property="mapZ" />
        <result column="zip_code" property="zipCode" />
        <result column="address" property="address" />
        <result column="is_sync" property="isSync" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

</mapper>
