# backup ignore
backup/

# bin ignore
bin/

# svn ignore
.svn/

# vue ignore
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.metadata/
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
*.orig
*.lnk

# flatten ignore
.flattened-pom.xml

# license check result
license-list

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
