<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.dashboard.permission.mapper.SysUserOrgExMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kivi.dashboard.permission.entity.SysUserOrg">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="org_id" property="orgId" />
    </resultMap>
    
    <select id="selectOrgIdByUserId" resultType="java.lang.Long" parameterType="java.lang.Long">
    	SELECT
			t.org_id
		FROM
			ktf_sys_user_org t
		LEFT JOIN ktf_sys_user t2 ON t.user_id = t2.id
		<where>
			t2.id=#{userId}
		</where>
    </select>

</mapper>
