<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.dashboard.permission.mapper.SysUserExMapper">

    <resultMap id="UserDtoResultMap" type="com.kivi.dashboard.permission.dto.SysUserDTO">
        <result column="id" property="id"/>
        <result column="login_mode" property="loginMode" />
        <result column="login_name" property="loginName" />
        <result column="user_type" property="userType" />
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="avatar" property="avatar"/>
        <result column="org_id" property="orgId" />
        <result column="dept_id" property="deptId" />
        <result column="title_id" property="titleId" />
        <result column="sex" property="sex"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="last_time" property="lastTime" />
        <collection property="roleIds" ofType="com.kivi.dashboard.permission.dto.SysRoleDTO" javaType="ArrayList" column="id" select="selectRoles"/>
    </resultMap>

    <resultMap id="UserVoResultMap" type="com.kivi.framework.vo.UserVo">
        <result column="id" property="id"/>
        <result column="cif_id" property="cifId" />
        <result column="login_mode" property="loginMode" />
        <result column="login_name" property="loginName" />
        <result column="user_type" property="userType" />
        <result column="name" property="name"/>
        <result column="app_id" property="appId" />
        <result column="status" property="status" />
        <result column="org_id" property="orgId" />
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <collection property="roleIds" ofType="java.lang.Long" javaType="ArrayList" column="id" select="selectRoles"/>
    </resultMap>
    
	<!-- 根据登录名查询 -->
	<select id="selectUserVo" resultMap="UserVoResultMap" parameterType="map">
        SELECT 
			U.id,
			U.cif_id,
			U.login_name,
			U.login_mode,
			U.user_type,
			C.`name`,
			C.avatar_url as avatar,
			U.app_id,
			U.`status`,
			U.org_id
		FROM
			ktf_sys_user U
		LEFT JOIN cif_customer C ON U.cif_id = C.id
        <where>
        	<if test="params.id != null">
            	U.id=#{params.id}
            </if>
            <if test="params.loginName != null and params.loginName !=''">
            	AND U.login_name=#{params.loginName}
            </if>
            <if test="params.statusList != null">
            	AND U.status IN      
					<foreach item="item" index="index" collection="params.statusList" open="(" separator="," close=")">  
      					#{item}  
     				</foreach>  
            </if>
        </where>
    </select>
    
    <select id="selectUserDto" resultMap="UserDtoResultMap" parameterType="map">
        SELECT
	        U.id,
	        C.`name`,
	        U.login_name ,
	        U.user_type ,
	        C.email,
	        C.reg_phone_number AS phone,
	        CP.`name` AS org_name,
	        dept.`name` AS dept_name,
	        title.`name` AS title_name,
	        U.`status`,
	        U.gmt_create ,
			U.gmt_update AS gmtUpdate	       
        FROM
        	ktf_sys_user U
        LEFT JOIN ktf_org_corp CP ON U.org_id = CP.id
        LEFT JOIN ktf_org_dept dept ON U.dept_id = dept.id
        LEFT JOIN ktf_org_title title ON U.title_id = title.id
        LEFT JOIN cif_customer C ON U.cif_id = C.id
        <where>
            <if test="params.userId != null">
            	U.id=#{params.userId}
            </if>
            <if test="params.loginName != null and params.loginName !=''">
            	AND U.login_name=#{params.loginName}
            </if>
            <if test="params.statusList != null">
            	AND U.status IN      
					<foreach item="item" index="index" collection="params.statusList" open="(" separator="," close=")">  
      					#{item}  
     				</foreach>  
            </if>
        </where>
    </select>
	

    <!-- 分页查询 -->
    <select id="selectByPage" parameterType="map" resultMap="UserDtoResultMap">
        SELECT DISTINCT
	        U.id,
	        C.`name`,
	        U.login_name ,
	        U.user_type ,
	        C.email,
	        C.reg_phone_number AS phone,
	        CP.`name` AS org_name,
	        dept.`name` AS dept_name,
	        title.`name` AS title_name,
	        U.`status`,
	        U.gmt_create ,
			U.gmt_update AS gmtUpdate	       
        FROM
        	ktf_sys_user U
        LEFT JOIN ktf_org_corp CP ON U.org_id = CP.id
        LEFT JOIN ktf_org_dept dept ON U.dept_id = dept.id
        LEFT JOIN ktf_org_title title ON U.title_id = title.id
        LEFT JOIN cif_customer C ON U.cif_id = C.id
        <where>
            <if test="params.keyword != null and params.keyword != '' ">
                (U.login_name like concat('%',#{params.keyword},'%')
                OR C.`name` like concat('%',#{params.keyword},'%'))
            </if>
            <if test="params.userType !=null">
            	AND U.user_type in
				 <foreach item="item" index="index" collection="params.userType" open="(" separator="," close=")">
		                 #{item}
		         </foreach>
            </if>
            <if test=" params.orgId != null ">
                AND U.org_id = #{params.orgId}
            </if>
            <if test="params.deptId != null ">
                AND U.dept_id= #{params.deptId}
            </if>
            <if test="params.startTime != null">
                AND U.gmt_create &gt;= concat(#{params.startTime},'00:00:00')
            </if>
            <if test="params.endTime !=null">
                AND U.gmt_create &lt;= concat(#{params.endTime},"23:59:59")
            </if>
        </where>
        ORDER BY U.gmt_create
    </select>
    
    <select id="selectRoleIds" resultType="java.lang.Long" parameterType="java.lang.Long">
	   SELECT
			R.id
		FROM
			ktf_sys_user_role UR
		LEFT JOIN ktf_sys_role R ON UR.role_id = R.id
		WHERE
			R.`status` = 0
			AND UR.user_id = #{id}
	</select>
	
	<select id="selectRoles" resultType="java.lang.Long" parameterType="java.lang.Long">
	   SELECT
			R.id, R.`name`
		FROM
			ktf_sys_user_role UR
		LEFT JOIN ktf_sys_role R ON UR.role_id = R.id
		WHERE
			R.`status` = 0
			AND UR.user_id = #{id}
	</select>


	<!-- 分页精简查询 -->
    <select id="selectSimpleByPage" parameterType="map" resultMap="UserDtoResultMap">
        SELECT DISTINCT
	        U.id,
	        U.login_name ,
	        U.user_type ,
	        C.email,
	        U.`status`,
	        CA.last_time	       
        FROM
        	ktf_sys_user U
        LEFT JOIN cif_customer C ON U.cif_id = C.id
        LEFT JOIN cif_customer_auths CA ON U.id = CA.id
        <where>
            <if test="params.keyword != null and params.keyword != '' ">
                (U.login_name like concat('%',#{params.keyword},'%'))
            </if>
            <if test="params.userType !=null">
            	AND U.user_type in
				 <foreach item="item" index="index" collection="params.userType" open="(" separator="," close=")">
		                 #{item}
		         </foreach>
            </if>
            <if test="params.startTime != null">
                AND U.gmt_create &gt;= concat(#{params.startTime},'00:00:00')
            </if>
            <if test="params.endTime !=null">
                AND U.gmt_create &lt;= concat(#{params.endTime},"23:59:59")
            </if>
        </where>
        ORDER BY CA.last_time
    </select>

</mapper>
