<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.sys.sys.mapper.SysDicExMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kivi.sys.sys.dto.SysDicDTO">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="var_code" property="varCode" />
        <result column="var_name" property="varName" />
        <result column="var_value" property="varValue" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="has_children" property="hasChildren"/>
        <result column="is_leaf" property="isLeaf"/>
    </resultMap>
    
    <select id="getDto" resultMap="BaseResultMap" >
    	SELECT
			t.id,
			t.parent_id,
			t.var_code,
			t.var_name,
			t.var_value,
		    t.type,
		    t.`status`
		FROM
			ktf_sys_dic t
		LEFT JOIN (
			SELECT
				d1.id
			FROM
				ktf_sys_dic d1
			WHERE
			d1.var_code = #{pVarCode}
		) A ON t.parent_id = A.id
		WHERE
			t.var_code = #{varCode}
    </select>
    
    <!-- 列表查询 -->
    <select id="selectDTO" resultMap="BaseResultMap" >
    	SELECT
			t.id,
			t.parent_id,
			t.var_code,
			t.var_name,
			t.var_value,
		    t.type,
		    t.`status`,
		    if ((SELECT count(1) FROM ktf_sys_dic t1 WHERE t1.parent_id= t.id) >0, true, false) as has_children,
		    if ((SELECT count(1) FROM ktf_sys_dic t1 WHERE t1.parent_id= t.id) >0, false, true) as is_leaf
		FROM
			ktf_sys_dic t
		<where>
			<if test="params.parentId !=null">
				t.parent_id = ${params.parentId}
			</if>
			<if test="params.status!=null">
				AND t.`status` = ${params.status}
			</if>
			<if test="params.keyword!=null">
				AND (t.var_name LIKE '%${params.keyword}%'
					OR t.var_code LIKE '%${params.keyword}%')
			</if>
		</where>
		ORDER BY t.id
    </select>
    
    <!-- 查询列表子节点 -->
    <select id="getChildren" parameterType="map" resultMap="BaseResultMap">
	    SELECT
			t.id,
			t.parent_id,
			t.var_code,
			t.var_name,
			t.var_value,
		    t.type,
		    t.`status`,
		    if ((SELECT count(1) FROM ktf_sys_dic t1 WHERE t1.parent_id= t.id) >0, true, false) as has_children,
		    if ((SELECT count(1) FROM ktf_sys_dic t1 WHERE t1.parent_id= t.id) >0, false, true) as is_leaf 
		FROM
			ktf_sys_dic t
		<where>
			<if test="!recursion and id!=null"> 
				t.parent_id = #{id}
			</if>
		    <if test="recursion and id!=null">
		    	FIND_IN_SET(t.id, sys_dic_getChildren(#{id}))
		    </if>
		    <if test="varCode!=null and varCode != ''">
		    	AND FIND_IN_SET(t.id, sys_dic_getChildren((SELECT id FROM ktf_sys_dic WHERE var_code=#{varCode})))
		    </if>
		    <if test="!hasSelf and id!=null">
		    	AND t.id != #{id}
		    </if>
		    <if test="!hasSelf and varCode!=null and varCode != ''">
		    	AND t.var_code != #{varCode}
		    </if>
			<if test="status!=null">
				AND t.`status` = #{status}
			</if>
		</where>
		ORDER BY t.id
    </select>
    
    <!-- tree查询 -->
    <select id="treeQuery" resultMap="BaseResultMap" >
    	SELECT
			t.id,
			t.var_name,
		    if ((SELECT count(1) FROM ktf_sys_dic t1 WHERE t1.parent_id= t.id) >0, false, true) as is_leaf
		FROM
			ktf_sys_dic t
		<where>
			<if test="params.parentId !=null">
				t.parent_id = ${params.parentId}
			</if>
			<if test="params.status!=null">
				AND t.`status` = ${params.status}
			</if>
		</where>
		ORDER BY t.id
    </select>
    
    <select id="getChildrenCodes" resultType="String">
	    SELECT
				d.var_code
		FROM
				ktf_sys_dic d
		LEFT JOIN (
			SELECT
				d1.id
			FROM
				ktf_sys_dic d1
			WHERE
				d1.parent_id = #{ppId}
			AND d1.var_code = #{pVarCode}
		) A ON d.parent_id = A.id
		 WHERE d.parent_id = A.id 
    </select>
    
    <!-- 查询父节点 -->
    <select id="getParents" parameterType="map" resultMap="BaseResultMap">
	    SELECT
			t.id,
			t.parent_id,
			t.var_code,
			t.var_name,
			t.var_value,
		    t.type,
		    t.`status`,
		    if ((SELECT count(1) FROM ktf_sys_dic t1 WHERE t1.parent_id= t.id) >0, true, false) as has_children,
		    if ((SELECT count(1) FROM ktf_sys_dic t1 WHERE t1.parent_id= t.id) >0, false, true) as is_leaf 
		FROM
			ktf_sys_dic t
		<where>
		    FIND_IN_SET(t.id, sys_dic_getParents(#{id}))
		    <if test="parentId!=null">
		    	AND t.parent_id = #{parentId}
		    </if>
		    <if test="hasSelf">
		    	AND t.id != #{id}
		    </if>
			<if test="status!=null">
				AND t.`status` = #{status}
			</if>
		</where>
    </select>
    
    <!-- 删除节点以及其子节点记录 -->
    <delete id="deleteWithChildren">
    	DELETE
		FROM
			ktf_sys_dic
		WHERE
			FIND_IN_SET(id, sys_dic_getChildren(#{id}))
    </delete>
    
    
    <!-- 根据varcode和上级varcode查询 -->
    <select id="getKvMap"  resultType="java.util.HashMap"  >
    	SELECT
    	    A.var_code AS `key`,
			t3.var_value AS `value`
		FROM
			ktf_sys_dic t3
		RIGHT JOIN (
			SELECT
				t2.id,
				t2.var_code
			FROM
				ktf_sys_dic t2
			WHERE
				t2.parent_id IN (
					SELECT
						t1.id
					FROM
						ktf_sys_dic t1
					<where>
						<if test="pVarCodes !=null">
							t1.var_code IN      
							<foreach item="item" index="index" collection="pVarCodes" open="(" separator="," close=")">  
	      						#{item}  
	     					</foreach>  
						</if>
					</where>
						
				)
		) A ON t3.parent_id = A.id
		<where>
			<if test="varCode !=null and varCode != '' ">
				t3.var_code = #{varCode} 
			</if>
		</where>
    </select>
    
    <select id="getMaxId" parameterType="map" resultType="java.lang.Long" >
    	SELECT
			MAX(id)
		FROM
			ktf_sys_dic t
		<where>
		    <if test="parentId = 0">
		    	t.parent_id = 0
		    </if>
			<if test="parentId > 0">
		    	t.parent_id BETWEEN 1 AND 9
		    </if>
		</where>
    </select>
    

</mapper>
