<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.dashboard.sys.mapper.SysDicExMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kivi.dashboard.sys.entity.SysDic">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="var_code" property="varCode" />
        <result column="var_name" property="varName" />
        <result column="is_sync" property="isSync" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>
    
    <resultMap id="DtoResultMap" type="com.kivi.dashboard.sys.dto.SysDicDTO">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="var_code" property="varCode" />
        <result column="var_name" property="varName" />
        <result column="var_value" property="varValue" />
        <result column="has_children" property="hasChildren" />
    </resultMap>
    
    
    <select id="getByVarCode" resultMap="BaseResultMap" >
    	SELECT
			d.*
		FROM
			ktf_sys_dic d
		RIGHT JOIN (
			SELECT
				d1.id
			FROM
				ktf_sys_dic d1
			WHERE
				d1.var_code = #{pVarCode}
		) A ON d.parent_id = A.id
		WHERE
			d.var_code = #{varCode}
    </select>
    
    <select id="getByVarName" resultMap="BaseResultMap" >
    	SELECT
			d.*
		FROM
			ktf_sys_dic d
		RIGHT JOIN (
			SELECT
				d1.id
			FROM
				ktf_sys_dic d1
			WHERE
			d1.var_name = #{pVarName}
		) A ON d.parent_id = A.id
		WHERE
			d.var_name = #{varName}
    </select>
    
    <select id="listByVarCode" parameterType="map" resultMap="DtoResultMap">
	    SELECT
			d.id,
			d.parent_id,
			d.var_code,
			d.var_name,
			d.var_value,
  			(SELECT count(1) FROM ktf_sys_dic WHERE parent_id=d.id) > 0 AS has_children
		FROM
			ktf_sys_dic d
		RIGHT JOIN (
			SELECT
				d1.id
			FROM
				ktf_sys_dic d1
			<where>
				<if test="pId != null">
					d1.parent_id = #{pId}
				</if>
				<if test="pVarCode != null and pVarCode != ''">
					AND d1.var_code = #{pVarCode}
				</if>
			</where>
		) A ON d.parent_id = A.id
		<where>
			<if test="varCode != null and varCode != ''">
				d.var_code = #{varCode}
			</if>
		</where>
    </select>
    
    <!-- 查询子节点 -->
    <select id="getChildren" parameterType="map" resultMap="DtoResultMap">
	    SELECT
			t.id,
			t.parent_id,
			t.var_code,
			t.var_name,
			t.var_value
		FROM
			ktf_sys_dic t
		<where>
		    <if test="id!=null">
		    	FIND_IN_SET(t.id, sys_dic_getChildren(#{id}))
		    </if>
		    <if test="varCode!=null and varCode != ''">
		    	AND FIND_IN_SET(t.id, sys_dic_getChildren((SELECT id FROM ktf_sys_dic WHERE var_code=#{varCode})))
		    </if>
		    <if test="id!=null and !hasSelf">
		    	AND t.id != #{id}
		    </if>
		    <if test="varCode!=null and !hasSelf">
		    	AND t.var_code != #{varCode}
		    </if>
		</where>
    </select>

</mapper>
