<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.dashboard.sys.mapper.SysDicExMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kivi.dashboard.sys.entity.SysDic">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="var_code" property="varCode" />
        <result column="var_name" property="varName" />
        <result column="is_sync" property="isSync" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>
    
    
    <select id="getByVarCode" resultMap="BaseResultMap" >
    	SELECT
			d.*
		FROM
			ktf_sys_dic d
		LEFT JOIN (
			SELECT
				d1.id
			FROM
				ktf_sys_dic d1
			WHERE
				d1.var_code = #{pVarCode}
		) A ON d.parent_id = A.id
		WHERE
			d.parent_id = A.id
		AND d.var_code = #{varCode}
    </select>
    
    <select id="getByVarName" resultMap="BaseResultMap" >
    	SELECT
			d.*
		FROM
			ktf_sys_dic d
		LEFT JOIN (
			SELECT
				d1.id
			FROM
				ktf_sys_dic d1
			WHERE
			d1.var_name = #{pVarName}
		) A ON d.parent_id = A.id
		WHERE
			d.var_name = #{varName}
    </select>
    
    <select id="listVarCode" resultType="String">
	    SELECT
				d.var_code
		FROM
				ktf_sys_dic d
		LEFT JOIN (
			SELECT
				d1.id
			FROM
				ktf_sys_dic d1
			WHERE
				d1.parent_id = #{ppId}
			AND d1.var_code = #{pVarCode}
		) A ON d.parent_id = A.id
		 WHERE d.parent_id = A.id 
    </select>

</mapper>
