<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.dashboard.sys.mapper.SysRegionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kivi.dashboard.sys.entity.SysRegion">
        <result column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="code" property="code" />
        <result column="pcode" property="pcode" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
