<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.dashboard.sys.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kivi.dashboard.sys.entity.SysUser">
        <id column="id" property="id" />
        <result column="cif_id" property="cifId" />
        <result column="login_mode" property="loginMode" />
        <result column="login_name" property="loginName" />
        <result column="user_type" property="userType" />
        <result column="application_id" property="applicationId" />
        <result column="status" property="status" />
        <result column="expired" property="expired" />
        <result column="enterprise_id" property="enterpriseId" />
        <result column="department_id" property="departmentId" />
        <result column="job_id" property="jobId" />
        <result column="is_leader" property="isLeader" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="create_user_id" property="createUserId" />
        <result column="post" property="post" />
    </resultMap>

</mapper>
