<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.dashboard.org.mapper.OrgDeptExMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kivi.dashboard.org.dto.OrgDeptDTO">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="corp_id" property="corpId" />
        <result column="abbr" property="abbr" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>
    
    <select id="selectDTO" parameterType="map" resultMap="BaseResultMap">
	    SELECT
			dept.id,
			dept.parent_id,
			dept.`name`,
			dept.abbr,
			dept.`status`,
			dept.corp_id,
			corp.`name` AS corpName
		FROM
			ktf_org_dept dept
		LEFT JOIN ktf_org_corp corp ON dept.corp_id = corp.id
		<where>
			<if test="params.status !=null">
				dept.`status` = ${params.status}
			</if>
			<if test="params.corpId !=null">
				AND dept.corp_id = ${params.corpId}
			</if>
			<if test="params.name !=null and params.name!=''">
                AND dept.name like '%${params.name}%'
            </if>
		</where>
		ORDER BY
			dept.parent_id,
			dept.id
    </select>
    
    <!-- 查询子节点 -->
    <select id="getChildren" parameterType="map" resultMap="BaseResultMap">
	    SELECT
			t.id,
			t.parent_id,
			t.`name`,
			t.abbr,
			t.`status`
		FROM
			ktf_org_dept t
		<where>
		    FIND_IN_SET(t.id, org_dept_getChildren(#{id}))
		    <if test="hasSelf">
		    	AND t.id != #{id}
		    </if>
			<if test="status!=null">
				AND t.`status` = #{status}
			</if>
		</where>
    </select>
    
    <!-- 查询父节点 -->
    <select id="getParents" parameterType="map" resultMap="BaseResultMap">
	    SELECT
			t.id,
			t.parent_id,
			t.`name`,
			t.abbr,
			t.`status`
		FROM
			ktf_org_dept t
		<where>
		    FIND_IN_SET(t.id, org_dept_getParents(#{id}))
		    <if test="hasSelf">
		    	AND t.id != #{id}
		    </if>
			<if test="status!=null">
				AND t.`status` = #{status}
			</if>
		</where>
    </select>
    
      <!-- 删除节点以及其子节点记录 -->
    <delete id="deleteWithChildren">
    	DELETE
		FROM
			ktf_org_dept t
		WHERE
			FIND_IN_SET(t.id, org_dept_getChildren(#{id}))
    </delete>
    
    <!-- 删除没有父节点的记录 -->
    <delete id="deleteOrphan">
    	DELETE
		FROM
			ktf_org_dept
		WHERE
			id IN (
				SELECT
					a.id
				FROM
					(
						SELECT
							t0.id,
							t1.id AS pid
						FROM
							ktf_org_dept t0
						LEFT JOIN ktf_org_dept t1 ON t0.pid = t1.id
						WHERE
							t0.pid > 0
						GROUP BY
							t0.pid
					) a
				WHERE
					a.pid IS NULL
			)
    </delete>

</mapper>
