<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.sys.org.mapper.OrgCorpExMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kivi.sys.org.dto.OrgCorpDTO">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="name" property="name" />
        <result column="abbr" property="abbr" />
        <result column="prefix" property="prefix" />
        <result column="uscc" property="uscc" />
        <result column="type" property="type" />
        <result column="industry_id" property="industryId" />
        <result column="industry_name" property="industryName" />
        <result column="province_id" property="provinceId" />
        <result column="province" property="province" />
        <result column="main_person" property="mainPerson" />
        <result column="main_person_mobile" property="mainPersonMobile" />
        <result column="main_person_email" property="mainPersonEmail" />
        <result column="zip_code" property="zipCode" />
        <result column="address" property="address" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 多表页面信息查询 -->
    <select id="selectDTO" parameterType="map" resultMap="BaseResultMap">
        SELECT 
	        corp.id,
	        corp.app_id,
	        corp.name,
	        corp.abbr,
	        corp.prefix,
	        corp.uscc,
	        corp.type,
	        corp.industry_id,
	        indu.name as industry_name,
	        corp.province_id,
	        region.name as province,
	        corp.main_person ,
	        corp.main_person_mobile ,
	        corp.main_person_email,
	        corp.address,
	        corp.`status`
        FROM
        	ktf_org_corp corp
        LEFT JOIN ktf_sys_industry indu ON corp.industry_id = indu.id
        LEFT JOIN ktf_sys_region region ON corp.province_id = region.id
        
        <where>
            <if test="params.id!=null">
                corp.id=#{params.id}
            </if>
            <if test="params.abbr!=null and params.abbr!=''">
                and corp.abbr=#{params.abbr}
            </if>
            <if test="params.type!=null">
                and corp.type=#{params.type}
            </if>
            <if test="params.name!=null and params.name!=''">
                and corp.name like '%${params.name}%'
            </if>
            <if test="params.industrId!=null">
                and corp.industry_id=#{params.industrId}
            </if>
            <if test="params.provinceId!=null">
                and corp.province_id=#{params.provinceId}
            </if>
            <if test="params.cityId!=null">
                and corp.city_id=#{params.cityId}
            </if>
            <if test="params.status!=null">
                and corp.status=#{params.status}
            </if>
   
        </where>
    </select>

</mapper>
