<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.sys.sys.mapper.SysSmsRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kivi.sys.sys.entity.SysSmsRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="sms_id" property="smsId" />
        <result column="sms_time" property="smsTime" />
        <result column="push_time" property="pushTime" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
    </resultMap>

</mapper>
